In [1]:
file = open('list.doc','w')
file.write('''on the first day of our python class we were taught variables,data types, syntax and statements
on the second day we were taught string variables concatenation,string method and data types conversion
on the third day we were taught operators and input operationwhile on the fourth day we were taught iterable object
on the fifth day we were taught modules and conditional statement while on the sixth day was function
''')
file.close()

In [5]:
file1 = open('list.doc','r')
print(file1.read())
file1.close()

on the first day of our python class we were taught variables,data types, syntax and statements
on the second day we were taught string variables concatenation,string method and data types conversion
on the third day we were taught operators and input operationwhile on the fourth day we were taught iterable object
on the fifth day we were taught modules and conditional statement while on the sixth day was function

In [8]:
file2 = open('day2.py','r')
print(file2.read())
file2.close()

price1 = 30000
price2 = 50000
price3 = 150000
total = sum([price1,price2,price3])
report= ' at end of the day activities the total deposit that came in is {},mr.ade deposited {} mrs.nkechi {} mr.sola{}   '
print(report.format(total,price1,price2,price3))
print(f'at end of the day activities the total deposit that came in is {total},mr.ade deposited {price1} mrs.nkechi {price2} mr.sola{price3}')



s_nane1 = 'school'
s_nane2 = 'SCHOOL'
s_nane3 = 'pyhton is an high level programming language'
s_nane4 = '   voluropo@gmail.com   '
print(s_nane1.upper())
print(s_nane2.lower())
print(s_nane3.capitalize())
print(s_nane3.title())
print(s_nane3.split())
print(s_nane4)
print(s_nane4.strip())


num=2
num=3.2
num= 'iron'
num= '4'

#1.an integer can be converted to string and float#
#2.you can convert float to integer and string#
#3.you cannot convert string to integer or float#
#4.but we can convert a number in a string to integer or float#

print(str(num))


assignment
#1.declare a variable called poem assign your favourite poem to it everything should be printed line by line in uppercase
#2.declare the following variables 1. office of the president 2. name of president 3. state of president 4.date of birth of president 5.party of president
 all should be displayed in uppercase

 use pascal case,snake case or camel case

In [11]:
file2 = open('list.doc','a')
file2.write('''\non the seventh day we had our first milestone project
on the eight day we were taught kwargs and args and on the ninth day we taught map filter and lambda
on the ninth day we were taught  MYSQL and on the eleventh day we were taught cllass and object
on the twelvth day we were taught date aand time
''')
file2.close()

In [13]:
file4 = open('list.doc','r+')
print(file4.read())
file4.write ('''  And here we are having a nice time
''')
file4.close()

  And here we are having a nice time
e were taught variables,data types, syntax and statements
on the second day we were taught string variables concatenation,string method and data types conversion
on the third day we were taught operators and input operationwhile on the fourth day we were taught iterable object
on the fifth day we were taught modules and conditional statement while on the sixth day was function
\on the seventh day we had our first milestone project
on the eight day we were taught kwargs and args and on the ninth day we taught map filter and lambda
on the ninth day we were taught  MYSQL and on the eleventh day we were taught cllass and object
on the twelvth day we were taught date aand time

on the seventh day we had our first milestone project
on the eight day we were taught kwargs and args and on the ninth day we taught map filter and lambda
on the ninth day we were taught  MYSQL and on the eleventh day we were taught cllass and object
on the twelvth day we were taught date aand time

In [15]:
file4 = open('list.doc','r')
print(file4.read())
file4.close()

  And here we are having a nice time
e were taught variables,data types, syntax and statements
on the second day we were taught string variables concatenation,string method and data types conversion
on the third day we were taught operators and input operationwhile on the fourth day we were taught iterable object
on the fifth day we were taught modules and conditional statement while on the sixth day was function
\on the seventh day we had our first milestone project
on the eight day we were taught kwargs and args and on the ninth day we taught map filter and lambda
on the ninth day we were taught  MYSQL and on the eleventh day we were taught cllass and object
on the twelvth day we were taught date aand time

on the seventh day we had our first milestone project
on the eight day we were taught kwargs and args and on the ninth day we taught map filter and lambda
on the ninth day we were taught  MYSQL and on the eleventh day we were taught cllass and object
on the twelvth day we were taught date aand time
  And here we are having a nice time

In [6]:
from collections import defaultdict
try: 
    file = open('list.doc','r')
    content = file.read()
    c_split = content.split()
    frequent_word = defaultdict(int)
    result = 0
    frequency = 0
except FileNotFoundError:
    ('Hey file does not exist, do so by creating a file first and come back')
else:
    for word in c_split:
        frequent_word[word] +=1
        result = max(frequent_word, key=frequent_word.get)
        
    for i in range(0,len(c_split)):
        count = 1
        for j in range(i +1, len(c_split)):
            if( c_split[i] == c_split[j]):
                count +=1
    if (count > frequency):
        frequency = count
finally:
    print(f"the word that has the maximum frequency :{result}")
    print(frequency)
    print('good job')
    #file.close()

the word that has the maximum frequency :we
1
good job

In [8]:
import collections
print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_eq', '_heapq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [10]:
collections.Counter(c_split)

Counter({'And': 2,
         'here': 2,
         'we': 18,
         'are': 2,
         'having': 2,
         'a': 2,
         'nice': 2,
         'time': 4,
         'e': 1,
         'were': 13,
         'taught': 15,
         'variables,data': 1,
         'types,': 1,
         'syntax': 1,
         'and': 14,
         'statements': 1,
         'on': 16,
         'the': 17,
         'second': 1,
         'day': 17,
         'string': 1,
         'variables': 1,
         'concatenation,string': 1,
         'method': 1,
         'data': 1,
         'types': 1,
         'conversion': 1,
         'third': 1,
         'operators': 1,
         'input': 1,
         'operationwhile': 1,
         'fourth': 1,
         'iterable': 1,
         'object': 3,
         'fifth': 1,
         'modules': 1,
         'conditional': 1,
         'statement': 1,
         'while': 1,
         'sixth': 1,
         'was': 1,
         'function': 1,
         '\\on': 1,
         'seventh': 2,
         'had': 2,
         'our': 2,
         'first': 2,
         'milestone': 2,
         'project': 2,
         'eight': 2,
         'kwargs': 2,
         'args': 2,
         'ninth': 4,
         'map': 2,
         'filter': 2,
         'lambda': 2,
         'MYSQL': 2,
         'eleventh': 2,
         'cllass': 2,
         'twelvth': 2,
         'date': 2,
         'aand': 2})