In [3]:
import mysql.connector

In [6]:
mydb = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='voluropo2003'
)
mycursor =mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('football_management_system',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
mydb = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='voluropo2003',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
mycursor.execute('CREATE TABLE staff_details(id int,s_name varchar(255),s_position varchar(255),s_country varchar(255),s_dob date)')

In [9]:
mydb = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='voluropo2003',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
sql = 'INSERT INTO staff_details (id,s_name,s_position,s_country,s_dob) VALUES(%s,%s,%s,%s,%s)'
val = (1,'Ole Gunnar Solskjaer','manager','norway','1943-02-26')
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, 'was inserted')

1 was inserted

In [10]:
mydb = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='voluropo2003',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
sql = 'INSERT INTO staff_details (id,s_name,s_position,s_country,s_dob) VALUES(%s,%s,%s,%s,%s)'
val = (1,'Ole Gunnar Solskjaer','manager','norway','1943-02-26')
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, 'was inserted')

1 was inserted

In [11]:
mydb = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='voluropo2003',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
sql = 'INSERT INTO staff_details (id,s_name,s_position,s_country,s_dob) VALUES(%s,%s,%s,%s,%s)'
val = [(2,'Michael Phelan','coach','England','1958-02-26'),
      (3,'Michael Carrick','Technical Director','England','1985-02-26'),
      (4,'Darren Fletcher','Technical Director','England','1983-02-26'),
      (5,'Edwin Vandersar','GK Coach','England','1970-05-10')]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount, 'records was inserted')

4 records was inserted

In [13]:
mydb = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='voluropo2003',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
mycursor.execute('SELECT * FROM staff_details')
result = mycursor.fetchall()
for x in result:
    print(x)

(1, 'Ole Gunnar Solskjaer', 'manager', 'norway', datetime.date(1943, 2, 26))
(1, 'Ole Gunnar Solskjaer', 'manager', 'norway', datetime.date(1943, 2, 26))
(2, 'Michael Phelan', 'coach', 'England', datetime.date(1958, 2, 26))
(3, 'Michael Carrick', 'Technical Director', 'England', datetime.date(1985, 2, 26))
(4, 'Darren Fletcher', 'Technical Director', 'England', datetime.date(1983, 2, 26))
(5, 'Edwin Vandersar', 'GK Coach', 'England', datetime.date(1970, 5, 10))